body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkgray;
  font-family: "Old Standard TT", serif;
  font-size: 1.2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

h1,
h2 {
  font-family: "IM Fell English", serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 8px whitesmoke;
  padding: 0 1em;
  background-color: black;
  color: white;
}

nav {
  padding: 0.05em;
  border: solid 0.35em darkgrey;
  background-color: whitesmoke;
}

button {
  background-color: whitesmoke;
  padding: 0.5em;
}

#connectBtn {
  width: 8em;
  height: 3em;
}

main {
  flex-grow: 1;
  padding: 1em;
}

main h2 {
  border-bottom: solid 0.25em black;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

#teller {
  border: solid 8px white;
  background-color: whitesmoke;
}

#aumContainer {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}
#aumHeading {
  display: inline-block;
  margin-right: 1rem;
  font-style: oblique;
}

#tellerForm {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1em;
  background-color: lightgrey;
  text-align: center;
}

input {
  height: 1.75em;
  margin: auto;
}

#depositContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

#withdrawContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

#tellerForm button {
  width: fit-content;
  margin: auto;
}

#userAssets p {
  display: flex;
  align-items: center;
  column-gap: 1em;
  padding: 1em;
}

#eventNewMintMessage {
  position: fixed;
  bottom: 0;
  right: 0;
  width: fit-content;
  margin: 1em auto;
  border-top: solid 0.25em #e75151;
  border-bottom: solid 0.25em #e75151;
  padding: 1em;
  color: black;
  background-color: lightgrey;
}

#vault {
  padding: 1em;
  background-color: lightgrey;
}

#vaultForm {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  padding: 1em;
}

#depositVault {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

#vaultDepositBtn {
  width: fit-content;
  margin: auto;
  padding: 1em;
  background-color: white;
}

#vaultWithdrawBtn {
  width: fit-content;
  margin: auto;
  padding: 1em;
  font-weight: 600;
  background-color: #e75151;
}

.errorMessage {
  position: fixed;
  bottom: 0;
  right: 0;
  width: fit-content;
  margin: 1em auto;
  border-top: solid 0.25em #e75151;
  border-bottom: solid 0.25em #e75151;
  padding: 1em;
  color: black;
  background-color: whitesmoke;
}

footer {
  border-top: solid 8px #f46161;
  padding: 1em;
  text-align: center;
  color: whitesmoke;
  background-color: #e75151;
}

#footerInfo {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}
